backtesting_strategy_scratch/data/crawl/WBTC_WETH_500/swap_events.csv filter=lfs diff=lfs merge=lfs -text
backtesting_strategy_scratch/data/crawl/WBTC_WETH_3000/swap_events.csv filter=lfs diff=lfs merge=lfs -text
backtesting_strategy_scratch/data/crawl/WETH_USDT_3000/swap_events.csv filter=lfs diff=lfs merge=lfs -text
